
@{
    ViewBag.Title = "ItemMaster";
    Layout = "~/Views/Shared/_AdminLayouts.cshtml";
}

<h2>ItemMaster</h2>

<br />
@Html.ActionLink("Add Item", "AddItem", null, new { @class = "btn btn-success btn-lg text-bold" }) &nbsp; &nbsp; &nbsp;

@Html.ActionLink("Item List", "ItemList", null, new { @class = "btn btn-info btn-lg text-bold" })
